body{
    margin: 0;
    background-color: #eaeaea;
}
div.logo{
    background: url(../images/logos/logo.png) no-repeat 53.29% 64.17% #8b3a3a;
    height: 530px;
    width: 77.85vw;
    margin: 0 auto;
}
div.gridContainer1{
    background-color: #8b3a3a;
    width: 77.85vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 123px 438px 374px 439px;
    row-gap: 85px;
    margin: 0 auto;
    position: relative;
}

/* TopMenu */

div.gridContainer1 div.topMenu{
    background: #f8f8f8 url(../images/logos/topMenuLogo.png) no-repeat 10vw 45%;
}
div.gridContainer1 div.topMenu div.menu a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a1f1f;
    font-size: 20px;
}
div.gridContainer1 div.topMenu div.menu{
    display: flex;
    height: 100%;
    margin: 0 6.04vw 0 19.1vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.gridContainer1 div.topMenu div.menu form.search{
    position: relative;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=submit]:hover{
    cursor: pointer;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=submit]{
    border: none;
    background-color: #ffffff;
    position: absolute;
    padding: 0;
    top: 5px;
    right: 0.3vw;
}
div.gridContainer1 div.topMenu div.menu form.search input[type=text]{
    height: 26px;
    width: 11.11vw;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: #c2c2c2 solid 1px;
}

/* HeroPage */

div.gridContainer1 div.heroPage{
    background: #f9f9f9 url(../images/logos/heroPageLogo.png) no-repeat 6.6vw 16.28%;
    display: flex;
}
div.gridContainer1 div.heroPage div.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 7vw;
}
div.gridContainer1 div.heroPage div.container div.recipeName{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #911026;
    font-weight: bold;
    margin-top: 178px;
}
div.gridContainer1 div.heroPage div.container div.recipeDescription{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    width: 338px;
    font-weight: bold;
    margin-top: 15px;
}
div.gridContainer1 div.heroPage div.container div.getItRecipeButton button{
    font-family: 'Josefin Sans', sans-serif;
    background: white;
    border: 1px solid #c2c2c2;
    width: 110px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}
div.gridContainer1 div.heroPage div.getItRecipeButton button:hover{
    cursor: pointer;
}
div.gridContainer1 div.heroPage div.slider{
    background: url(../images/heroPage/backgroundSlider.png) no-repeat;
    height: 438px;
    width: 43.26vw;
    position: absolute;
    right: 0;
}

/* recipes */

div.gridContainer1 div.recipes{
    background-color: white;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
div.gridContainer1 div.recipes div.recipe1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}
div.gridContainer1 div.recipes div.recipe1 div.more,
div.gridContainer1 div.recipes div.recipe2 div.more,
div.gridContainer1 div.recipes div.recipe3 div.more{
    display: flex;
}
div.gridContainer1 div.recipes div.recipe1 div.more div.numbers,
div.gridContainer1 div.recipes div.recipe2 div.more div.numbers,
div.gridContainer1 div.recipes div.recipe3 div.more div.numbers{
    padding-left: 0.4vw;
}
div.gridContainer1 div.recipes div.recipe1 div.more div.time,
div.gridContainer1 div.recipes div.recipe2 div.more div.time,
div.gridContainer1 div.recipes div.recipe3 div.more div.time{
    border-right: #6f6f6f 1px solid;
    padding-right: 0.5vw;
}
div.gridContainer1 div.recipes div.recipe1 div.recipeName,
div.gridContainer1 div.recipes div.recipe2 div.recipeName,
div.gridContainer1 div.recipes div.recipe3 div.recipeName{
    padding-top: 10px;
}
div.gridContainer1 div.recipes div.recipe1 div.image{
    background: url(../images/recipes/recipe1.png) no-repeat;
    width: 313px;
    height: 208px;
}
div.gridContainer1 div.recipes div.recipe2 div.image{
    background: url(../images/recipes/recipe2.png) no-repeat;
    width: 313px;
    height: 208px;
}
div.gridContainer1 div.recipes div.recipe3 div.image{
    background: url(../images/recipes/recipe3.png) no-repeat;
    width: 313px;
    height: 208px;
}

/* recipe */

div.gridContainer1 div.recipe{
    background-color: white;
}